<div class="page-width">
	<h1 class="page-title acenter">
		Edycja kategorii: <span data-title class="primary">Praca</span>
	</h1>
</div>

<div class="page-width page-width__narrow">
	<div class="page">
		<form class="form" action="" method="post">
			<div class="form-row">
				<label class="form-label" for="title">Nazwa kategorii</label>
				<input class="form-field" type="text" id="title" name="title">
			</div>

			<div class="form-row">
				<label class="form-label" for="color">Kolor kategorii</label>
				<input class="form-field" type="color" id="color" name="color">
			</div>

			<div class="form-row acenter">
				<button class="button" type="submit">Zapisz zmiany</button>
			</div>

			<div class="error"></div>
			<div class="good"></div>
		</form>
	</div>
</div>

<div class="page-width acenter">
	<a class="go-back" href="#categories">Powrót</a>
</div>