<div class="page-width">
	<h1 data-title class="page-title acenter">Praca</h1>
</div>

<div class="page-width page-width__midi">
	<div class="page">
		<div class="categories">
			<span class="category">
				<span data-color class="category-color" style="background: #2563EB;"></span>
				<span data-title class="category-name">Praca</span>
			</span>
		</div>
	</div>
</div>

<div class="page-width page-width__midi">
	<div class="buttons">
		<a data-button-edit class="button" href="#category-edit/{id}">Edytuj</a>
		<a data-button-delete class="button button__error" href="#category-delete/{id}">Usuń</a>
	</div>
</div>