<div class="page-width">
	<h1 data-title class="page-title acenter">Projekt JS</h1>
	<small data-dates class="event-date center">
		30 kwi 2026 &bull; 08:30 - 20:00
	</small>
</div>

<div class="page-width page-width__midi">
	<div class="page">
		<h2 class="acenter">
			Czy na pewno chcesz usunąć wydarzenie: <span data-title class="primary">Projekt JS</span>?
		</h2>

		<div class="buttons">
			<a data-button-view class="button" href="#event/{id}">Nie</a>
			<button data-button-delete data-id="{id}" class="button button__accent">Tak</button>
		</div>
	</div>
</div>