<div class="page-width">
	<h1 data-title class="page-title acenter">Projekt JS</h1>
	<small data-dates class="event-date center">
		30 kwi 2026 &bull; 08:30 - 20:00
	</small>
</div>

<div class="page-width page-width__midi">
	<div class="page">
		<div class="categories">
			<a data-category class="category" href="#category/{id}">
				<span data-category-color class="category-color" style="background: #2563EB;"></span>
				<span data-category-title class="category-name">Praca</span>
			</a>
		</div>
		<br>
		<p data-desc>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium nam eligendi
			cumque esse quod, quos velit ducimus quae aspernatur, neque sint. Aspernatur,
			mollitia dicta reiciendis ab debitis ad id nihil.
		</p>
	</div>
</div>

<div class="page-width page-width__midi">
	<div class="buttons">
		<button data-button-export data-id="{id}" class="button">Eksportuj do ICS</button>
		<a data-button-edit class="button button__accent" href="#event-edit/{id}">Edytuj</a>
		<a data-button-delete class="button button__error" href="#event-delete/{id}">Usuń</a>
	</div>
</div>