<div class="page-width">
	<h1 class="page-title acenter">Marzec 2026</h1>
</div>

<div class="page-width">
	<div class="calendar">
		<div class="calendar-header">
			<div>Pon</div>
			<div>Wt</div>
			<div>Śr</div>
			<div>Czw</div>
			<div>Pt</div>
			<div>Sob</div>
			<div>Nd</div>
		</div>

		<div class="calendar-grid">
			<div class="day">
				<a href="#day/2026-04-01" class="day-number">1</a>
			</div>
			<div class="day">
				<a href="#day/2026-04-01" class="day-number">2</a>
			</div>
			<div class="day">
				<a href="#day/2026-04-01" class="day-number">3</a>
			</div>
			<div class="day">
				<a href="#day/2026-04-01" class="day-number">4</a>
				<a class="month-event" href="#event/12345678">
					Spotkanie
				</a>
			</div>
			<div class="day">
				<a href="#day/2026-04-01" class="day-number">5</a>
			</div>
			<div class="day">
				<a href="#day/2026-04-01" class="day-number">6</a>
			</div>
			<div class="day">
				<a href="#day/2026-04-01" class="day-number">7</a>
			</div>

			<div class="day"><a href="#day/2026-04-01" class="day-number">8</a></div>
			<div class="day"><a href="#day/2026-04-01" class="day-number">9</a></div>
			<div class="day"><a href="#day/2026-04-01" class="day-number">10</a></div>
			<div class="day"><a href="#day/2026-04-01" class="day-number">11</a></div>
			<div class="day"><a href="#day/2026-04-01" class="day-number">12</a></div>
			<div class="day"><a href="#day/2026-04-01" class="day-number">13</a></div>
			<div class="day"><a href="#day/2026-04-01" class="day-number">14</a></div>
		</div>
	</div>
</div>