<div class="page-width">
	<h1 class="page-title acenter">6-12 kwietnia 2026</h1>
</div>

<div class="page-width">
	<div class="week-calendar-container">
		<div class="week-calendar">
			<!-- nagłówki dni -->
			<div class="week-header">
				<div></div>
				<div><a href="#day/2026-04-06">Pon, 6 kwi</a></div>
				<div><a href="#day/2026-04-06">Wt, 7 kwi</a></div>
				<div><a href="#day/2026-04-06">Śr, 8 kwi</a></div>
				<div><a href="#day/2026-04-06">Czw, 9 kwi</a></div>
				<div><a href="#day/2026-04-06">Pt, 10 kwi</a></div>
				<div><a href="#day/2026-04-06">Sob, 11 kwi</a></div>
				<div><a href="#day/2026-04-06">Nd, 12 kwi</a></div>
			</div>

			<!-- siatka godzin -->
			<div class="week-body">

				<!-- kolumna godzin -->
				<div class="week-hours">
					<div>08:00</div>
					<div>09:00</div>
					<div>10:00</div>
					<div>11:00</div>
					<div>12:00</div>
					<div>13:00</div>
					<div>14:00</div>
					<div>15:00</div>
					<div>16:00</div>
					<div>17:00</div>
				</div>

				<div class="week-day">
					<a
						class="week-event"
						href="#event/12345678"
						style="top: calc((9 - 8) * var(--hour-height)); height: calc(1 * var(--hour-height));"
					>9:00 Spotkanie</a>
				</div>
				<div class="week-day"></div>
				<div class="week-day">
					<a
						class="week-event"
						href="#event/12345678"
						style="top: calc((10 - 8) * var(--hour-height)); height: calc(2 * var(--hour-height));"
					>10:00 Trening</a>
				</div>
				<div class="week-day"></div>
				<div class="week-day"></div>
				<div class="week-day"></div>
				<div class="week-day"></div>
			</div>
		</div>
	</div>
</div>